@* @model PlanItUp.Models.ChangePasswordModel //crear modelo 

<h2>Cambiar contraseña</h2>
<form asp-action="ChangePassword" method="post">
    <div>
        <label>Nueva contraseña</label>
        <input asp-for="NewPassword" type="password" required class="form-control" /> <br />
    </div>
    <div>
        <label>Confirmar nueva contraseña</label>
        <input asp-for="ConfirmNewPassword" type="password" required class="form-control" /> <br />
    </div>
    <button type="submit" asp-action="Login" class="btn btn-primary">Cambiar contraseña</button>
</form> *@
