@using Microsoft.AspNetCore.Routing
@using Microsoft.EntityFrameworkCore.Metadata.Internal

@{
    ViewData["Title"] = "Inicio PlanItUp";
}

<div class="container">
    <nav aria-label="breadcrumb"> 
        <ol class="breadcrumb" id="breadcrumb-container">
        </ol>
    </nav>

    <br />

    <h2 class="my-4"><u>Sobre nosotros &#9759;</u></h2>

    <p class="my-4"> 
        En PlanItUp, creemos que organizar eventos debería ser sencillo y accesible para todos. 
        Nuestro proyecto surge con la misión de facilitar la planificación de encuentros, desde reuniones sociales entre amigos hasta eventos corporativos. 
        A través de nuestra plataforma, ofrecemos una solución integral que ayuda a los usuarios a encontrar espacios, gestionar invitados,
        coordinar detalles logísticos y personalizar cada evento según sus necesidades.
        <br />  
    </p>

    <h2 class="my-4"><u>¿A quien esta dirigido? &#9759;</u></h2>
    
    <p>
        <ul>
            <li>Jóvenes y adultos que buscan herramientas prácticas para organizar eventos.</li>
            <li>Grupos de amigos o compañeros de trabajo que necesitan coordinar actividades de forma conjunta.</li>
            <li>Empresas que requieren un servicio profesional para gestionar eventos corporativos.</li>
        </ul>

    </p>

    <h2 class="my-4"><u>¿Que brindamos? &#9759;</u></h2>

    <p>
        <ul>
            <li>Brindamos una plataforma fácil de usar, flexible y eficiente, que ahorre tiempo y recursos a nuestros usuarios.</li>
            <li>Ofrecemos funcionalidades personalizadas, desde la gestión de reservas hasta la integración con proveedores locales.</li>
        </ul>
    </p>

    <h2 class="my-4"><u>Nuestros objetivos &#9759;</u></h2>
    <p>
        Otorgamos la posibilidad en mejorar la experiencia de planificación de eventos. 
        
        PlanItUp es más que una herramienta; Hace que tu encuentro sea especial y sin complicaciones. <!--posible banner o footer-->
        
        <br />
    </p>
    

</div>